<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:context="http://www.springframework.org/scema/context" 
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- this is our beans -->
    
  <bean class=" com.springcore.Student" name="student1 ">
       <property name="studentId">
       <value>4950</value>
         </property>
  
         <property name="studentName">
         <value>Ahamed Unnisa</value>
         </property>
         
         <property name="studentAddress">
        <value>
         Vizag
        </value> 
         </property>
  </bean>

</beans>
 